
*.v2
AbstractClass_Step302/AbstractClass_Step302/.vs/AbstractClass_Step302/v16/.suo
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302.sln
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302.csproj
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/App.config
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/bin/Debug/AbstractClass_Step302.exe
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/bin/Debug/AbstractClass_Step302.exe.config
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/bin/Debug/AbstractClass_Step302.pdb
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/Employee.cs
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/obj/Debug/AbstractClass_Step302.csproj.AssemblyReference.cache
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/obj/Debug/AbstractClass_Step302.csproj.CoreCompileInputs.cache
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/obj/Debug/AbstractClass_Step302.csproj.FileListAbsolute.txt
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/obj/Debug/AbstractClass_Step302.exe
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/obj/Debug/AbstractClass_Step302.pdb
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/Person.cs
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/Program.cs
AbstractClass_Step302/AbstractClass_Step302/AbstractClass_Step302/Properties/AssemblyInfo.cs
Operators_Step313/Polymorphism_Step306/.vs/Polymorphism_Step306/DesignTimeBuild/.dtbcache.v2
Operators_Step313/Polymorphism_Step306/.vs/Polymorphism_Step306/v16/.suo
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306.sln
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.deps.json
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.dll
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.exe
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.pdb
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.runtimeconfig.dev.json
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.runtimeconfig.json
Operators_Step313/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/ref/Polymorphism_Step306.dll
Polymorphism_Step306/Polymorphism_Step306/.vs/Polymorphism_Step306/DesignTimeBuild/.dtbcache.v2
Polymorphism_Step306/Polymorphism_Step306/.vs/Polymorphism_Step306/v16/.suo
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306.sln
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.deps.json
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.dll
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.exe
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.pdb
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.runtimeconfig.dev.json
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/Polymorphism_Step306.runtimeconfig.json
Polymorphism_Step306/Polymorphism_Step306/Polymorphism_Step306/bin/Debug/net5.0/ref/Polymorphism_Step306.dll
BlackJack
Score
WebApplication3
WebApplication4

